<link rel="stylesheet" href="__CDN__/assets/addons/dramas/libs/element/element.css">
<link rel="stylesheet" href="__CDN__/assets/addons/dramas/libs/common.css">
<style>
    .dashboard-content {
        padding: 20px 20px 0;
        background: #f5f5f5;
        border-radius: 8px;
    }

    .dashboard-content .dashboard-item {
        text-align: center;
        margin-bottom: 20px;
    }

    .dashboard-content .dashboard-item .top {
        line-height: 24px;
        font-size: 20px;
        font-weight: 400;
        color: #434343;
    }

    .dashboard-content .dashboard-item .top .unit {
        font-size: 12px;
        margin-left: 4px;
    }

    .dashboard-content .dashboard-item .bottom {
        line-height: 16px;
        font-size: 12px;
        font-weight: 400;
        color: #595959;
    }

    .screen-container {
        line-height: 32px;
        padding: 0 20px;
        background: #FFFFFF;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.06);
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .screen-container-show {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 14px;
    }

    .screen-container-left,
    .screen-container-right {
        margin-top: 14px;
        flex-wrap: nowrap;
    }

    .order-refresh {
        width: 32px;
        height: 32px;
        border: 1px solid #E6E6E6;
        border-radius: 4px;
        margin-right: 14px;
        justify-content: center;
    }

    .order-refresh i {
        animation-duration: 2s;
        animation-iteration-count: infinite
    }

    .order-refresh .focusi {
        animation-name: go;

    }

    @keyframes go {
        0% {
            transform: rotateZ(0);
        }

        100% {
            transform: rotateZ(360deg);
        }
    }

    .screen {
        border-radius: 6px;
        padding: 10px 20px;
        margin-bottom: 10px;
    }

    .screen-title {
        justify-content: space-between;
        width: 100%;
    }

    .screen-con {
        display: flex;
        flex-wrap: wrap;
    }

    .header-select-item,
    .header-input-item,
    .header-button-item {
        margin-right: 20px;
        margin-bottom: 14px;
        width: 252px;
    }

    .header-select-item .el-select {
        width: 100px;
    }

    .header-input-item .header-input-tip {
        margin-right: 14px;
    }

    .header-input-item .el-input {
        width: 176px;
    }

    .order-time {
        padding: 0 6px;
        height: 32px;
        border: 1px solid #DCDFE6;
        border-radius: 4px 0px 0px 4px;
        border-right: none;
        flex-shrink: 0;
    }

    .arrow-close i {
        animation-iteration-count: infinite;
        transform: rotateZ(0deg);
    }

    .arrow-close {
        width: 36px;
        height: 32px;
        margin-left: 20px;
        background: #7438D5;
        border-radius: 4px;
        color: #fff;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .arrow-open {
        width: 36px;
        height: 32px;
        margin-left: 20px;
        background: #fff;
        border-radius: 4px;
        color: #7438D5;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #7438D5;

    }

    .arrow-close .arrow-container {
        transform: rotateZ(0deg);
        transition: transform .25s linear;
    }

    .arrow-open .arrow-container {
        transform: rotateZ(180deg);
        transition: transform .25s linear;
    }

    .sp-table {
        padding: 20px 20px 30px;
        margin-top: 10px;
        background: #fff;
    }

    .table-image {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 8px;
        flex-shrink: 0;
    }

    .page-container {
        justify-content: flex-end;
        margin-top: 30px;
    }

    .log-container {
        flex: 1;
    }

    .log-container .el-select {
        width: 100%;
    }

    .log-container .el-select .el-select__input,
    .log-container .el-select .el-select__input:focus {
        border: none !important;
        height: 20px;
    }

    .text-normal {
        padding: 0 10px;
    }

    .pagination {
        margin: 0;
    }

    .el-pagination__sizes {
        display: none !important;
    }

    .text-normal {
        padding: 0 10px;
    }

    .el-pagination__jump {
        margin-left: 8px;
    }

</style>
<script src="__CDN__/assets/addons/dramas/libs/vue.js"></script>
<script src="__CDN__/assets/addons/dramas/libs/element/element.js"></script>
<script src="__CDN__/assets/addons/dramas/libs/moment.js"></script>
<div id="adLogIndex" v-cloak>
    <div class="screen-container">
        <div class="screen-container-show">
            <div class="screen-container-left display-flex">
                <div class="order-refresh display-flex" @click="goAdItemRefresh">
                    <i class="el-icon-refresh" :class="focusi?'focusi':''"></i>
                </div>
                <el-radio-group v-model="searchForm.lang_id" fill="#7536D0" @change="getData(0,10)">
                    <el-radio-button label="0">{{__('All')}}</el-radio-button>
                    <el-radio-button  :label="name" v-for="(type, name) in langList">{{type}}</el-radio-button>
                </el-radio-group>
            </div>
            <div class="screen-container-right display-flex">
                <div class="display-flex margin-right-20">
                    <div class="color-666 order-time">{{__('Createtime')}}</div>
                    <el-date-picker v-model="searchForm.createtime" type="daterange" value-format="yyyy-MM-dd HH:mm:ss"
                                    format="yyyy-MM-dd HH:mm:ss" range-separator="-" :start-placeholder="__('Begin time')" :end-placeholder="__('End time')"
                                    @change="getData(0,10)" align="right" size="small" :default-time="['00:00:00', '23:59:59']">
                    </el-date-picker>
                </div>
                <div :class="screenType?'arrow-open':'arrow-close'" @click="changeSwitch">
                    <div class="arrow-container">
                        <i class="el-icon-arrow-down"></i>
                    </div>
                </div>
            </div>
        </div>
        <el-collapse-transition>
            <div class="screen-con" v-if="screenType">
                <div class="display-flex header-select-item">
                    <el-input :placeholder="__('Please enter search content')" v-model="searchForm.form_2_value" class="input-with-select"
                        size="small">
                        <el-select v-model="searchForm.form_2_key" slot="prepend" :placeholder="__('Select')">
                            <el-option :label="__('User_id')" value="user_id"></el-option>
                            <el-option :label="__('User.nickname')" value="nickname"></el-option>
                            <el-option :label="__('User_email')" value="user_email"></el-option>
                        </el-select>
                    </el-input>
                </div>
                <div class="display-flex header-input-item">
                    <div class="header-input-tip">{{__('Ad')}}</div>
                    <div class="log-container">
                        <el-select v-model="searchForm.ad_id" filterable size="small" placeholder=""
                                   :filter-method="dataFilter" @visible-change="changeAdItem">
                            <el-option v-for="item in aboutAdItemOptions" v-if="item" :key="item.id" :label="item.title"
                                       :value="item.id">
                                <div class="display-flex" style="justify-content: space-around;">
                                    <span style="width: 48px;">{{ item.id }}</span>
                                    <div style="width: 150px;">{{ item.title }}</div>
                                    <div style="width: 300px;">{{ item.description }}</div>
                                </div>
                            </el-option>
                            <div class="text-center"
                                 style="position: sticky;background: #fff;height:28px;top:0;z-index:1">
                                <div class="text-normal display-flex" style="justify-content: center;">
                                    <el-pagination class="pagination" :page-sizes="[6]" :current-page="adItemCurrentPage"
                                                   :total="adItemTotalPage" layout="total, sizes, prev, pager,next, jumper"
                                                   pager-count="5" @size-change.stop="pageSizeChange"
                                                   @current-change="pageCurrentChange" />
                                    </el-pagination>
                                    <div style="cursor: pointer;color: #7438D5;margin-left: 8px;" @click="getAdItem">{{__('Ok')}}
                                    </div>
                                </div>
                            </div>
                        </el-select>
                    </div>
                </div>
                <div class="display-flex header-input-item">
                    <div class="header-input-tip">{{__('Status')}}</div>
                    <el-select v-model="searchForm.status" clearable filterable size="small">
                        <el-option :label="__('Status 0')" :value="0"></el-option>
                        <el-option :label="__('Status 1')" :value="1"></el-option>
                    </el-select>
                </div>
                <div class="header-button-item display-flex">
                    <el-button size="small" @click="screenEmpty">{{__('Reset')}}</el-button>
                    <el-button type="primary" size="small" @click="getData(0,10)">{{__('Filter')}}</el-button>
                </div>
            </div>
        </el-collapse-transition>
    </div>
    <el-header style="height: 95px;padding: 5px;margin: 10px 0;background: #fff;">
        <el-row class="dashboard-content">
            <el-col class="dashboard-item" :xs="8" :sm="8" :md="3" :lg="3" :xl="3">
                <div class="top"> {{ countData.total_logs }}<span class="unit">{{__('Logs')}}</span> </div>
                <div class="bottom">{{__('Total logs')}}</div>
            </el-col>
            <el-col class="dashboard-item" :xs="8" :sm="8" :md="3" :lg="3" :xl="3">
                <div class="top">
                    {{ countData.total_reward }}<span class="unit">{{ __('Point') }}</span>
                </div>
                <div class="bottom">{{__('Total reward')}}</div>
            </el-col>
        </el-row>
    </el-header>

    <div class="sp-table">
        <el-table :data="orderList" style="width: 100%" ref="multipleTable" tooltip-effect="dark" stripe :cell-style="cellStyle">
            <el-table-column prop="id" label="ID" min-width="100px">
            </el-table-column>
            <el-table-column :label="__('User')" min-width="200px" align="left">
                <template slot-scope="scope">
                    <div>
                        <div class="display-flex" v-if="scope.row.user">
                            <el-image class="table-image" :src="scope.row.user.avatar"></el-image>
                            <div>
                                <div class="ellipsis-item">
                                    {{scope.row.user.nickname}}
                                </div>
                                <div>
                                    {{scope.row.user.email}}
                                </div>
                            </div>
                        </div>
                        <div v-else>{{scope.row.user_id}}</div>
                    </div>
                </template>
            </el-table-column>
            <el-table-column min-width="150px" :label="__('Ad')" align="left">
                <template slot-scope="scope">
                    <div v-if="scope.row.ad">
                        <div>{{scope.row.ad.title}}</div>
                    </div>
                    <div v-else>{{scope.ad.id}}</div>
                </template>
            </el-table-column>
            <el-table-column :label="__('Reward')" min-width="100px">
                <template slot-scope="scope">
                    <div class="ellipsis-item">
                        {{scope.row.reward}}
                    </div>
                </template>
            </el-table-column>
            <el-table-column prop="status_text" :label="__('Status')" min-width="100px">
            </el-table-column>
            <el-table-column :label="__('Updatetime')" width="160px">
                <template slot-scope="scope">
                    {{moment(scope.row.updatetime*1000).format("YYYY-MM-DD HH:mm:ss") || '-'}}
                </template>
            </el-table-column>
            <el-table-column :label="__('Createtime')" width="160px">
                <template slot-scope="scope">
                    {{moment(scope.row.createtime*1000).format("YYYY-MM-DD HH:mm:ss") || '-'}}
                </template>
            </el-table-column>

        </el-table>
        <div class="page-container display-flex">
            <el-pagination style="float: right;" @size-change="handleSizeChange" @current-change="handleCurrentChange"
                :current-page="currentPage" :page-sizes="[10, 20, 30, 40]" :page-size="10"
                layout="total, sizes, prev, pager, next, jumper" :total="totalPage">
            </el-pagination>
        </div>
    </div>
</div>